@import '../../../../Colors.scss';

#problem {
    display: flex;
    align-items: center;
    .problem-wrapper {
        margin: 3.4rem 0 0;
        display: flex;
        gap: 3rem;
        ul.key-facts {
            width: 50%;
            margin: 0;
            background-color: rgba(255, 255, 255, 0.08);
            text-decoration: none;
            font-weight: 600;
            line-height: 1.2;
            font-size: 1rem;
            padding: 2rem 4rem;
            border-radius: 1rem;
            li {
                color: $text-primary-color;
                margin: 0 0 2.8rem;
            }
        }
        .key-text {
            width: 50%;
            h3 {
                line-height: 1.2;
                margin: 0;
                font-weight: 700;
                font-size: 2.9rem;
                color: $text-primary-color;
                font-family: "Ubuntu", sans-serif;
            }
            p.summary {
                margin-top: 1.4rem;
                font-size: 16px;
                color: $text-secondary-color;
                line-height: 1.5;
            }
        }
    }
}