@import "../../../../Colors.scss";

#project-problem {
    .problem-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        ul {
            list-style: none;
            margin: 0;
            padding: 2rem 2.5rem;
            background-color: $badge-bg-color;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
            width: 50%;
            transform: translateY(8rem);
            opacity: 0;
            transition: opacity .3s ease-in-out .4s, transform .3s ease-in-out .4s;
            &.on-screen {
                transform: translateY(0);
                opacity: 1;
            }
            li {
                .enumerated-title {
                    color: $text-primary-color;
                    font-size: 1.45rem;
                    font-weight: 600;
                    letter-spacing: -0.07rem;
                }
                p {
                    margin: 1rem 0 1rem;
                    font-size: 16px;
                    color: $text-primary-color;
                    line-height: 1.5;
                }
            }
        }
        div {
            width: 50%;
            transform: translateY(-8rem);
            opacity: 0;
            transition: opacity .3s ease-in-out .4s, transform .3s ease-in-out .4s;
            &.on-screen {
                transform: translateY(0);
                opacity: 1;
            }
            h2 {
                color: $text-primary-color;
                font-size: 3.5rem;
                margin: 0 0 1.5rem;
            }
            p.problem-summary {
                margin-top: 1.4rem;
                font-size: 1.45rem;
                color: $text-secondary-color;
                line-height: 1.5;
            }
        }
    }
}