@import '../../../../Colors.scss';

#summary {
    margin: 244px 0 188px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        line-height: 1.2;
        font-size: 3rem;
        color: $text-primary-color;
        margin: 0;
        font-family: "Ubuntu", sans-serif;
    }
    p {
        margin: 2.5rem 0 0;
        color: $text-secondary-color;
    }
    ul.header-links {
        list-style: none;
        margin: 1.4rem 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li {
            margin-right: 1rem;
            a {
                background-color: rgba(255, 255, 255, 0.08);
                text-decoration: none;
                font-weight: 600;
                line-height: 1.2;
                display: inline-flex;
                align-items: center;
                border-radius: .375rem;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                transition: 250ms;
                svg {
                    margin-right: .5rem;
                    color: $highlight-color;
                }
                span {
                    color: $text-primary-color;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.16);
                }
            }
        }
    }
}