@import '../../../../Colors.scss';

#resume {
    margin: 244px 0 0;
    h2 {
        line-height: 1.2;
        margin: 0;
        font-weight: 700;
        font-size: 1.5rem;
        color: $text-primary-color;
        font-family: "Ubuntu", sans-serif;
        transform: translateY(-8rem);
        opacity: 0;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        &.on-screen {
            transform: translateY(0);
            opacity: 1;
        }
    }
    p.summary {
        margin-top: 1.4rem;
        font-size: 16px;
        color: $text-secondary-color;
        line-height: 1.5;
        transform: translateY(8rem);
        opacity: 0;
        transition: opacity .35s ease-in-out, transform .35s ease-in-out;
        &.on-screen {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .details {
        display: flex;
        width: 100%;
        margin-top: 5.4rem;
        transform: translateY(8rem);
        opacity: 0;
        transition: opacity .3s ease-in-out .4s, transform .3s ease-in-out .4s;
        &.on-screen {
            transform: translateY(0);
            opacity: 1;
        }

        & > div:nth-child(1), & > div:nth-child(2) {
            width: 50%;
            box-sizing: border-box;
        }

        ul.tags {
            list-style: none;
            margin: 0 0 2rem;
            padding: 0;
            display: flex;
            gap: 0.6rem;
            flex-wrap: wrap;
            li {
                background-color: $text-primary-color;
                color: $bg-color;
                border-radius: 1.75rem;
                text-align: center;
                width: auto;
                padding: 1rem;
            }
        }
        ul.keywords {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 0.6rem;
            flex-wrap: wrap;
            li {
                color: $text-primary-color;
                strong {
                    font-size: 2.9rem;
                    margin: 0 1rem 0 0;
                    font-weight: 600;
                }
                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        .visual-identity {
            display: flex;
            align-items: flex-end;
            min-height: 14rem;
            gap: 1.4rem;
            .visual-identity-details {
                .typography {
                    background-color: $text-primary-color;
                    color: $bg-color;
                    padding: 1rem;
                    display: flex;
                    border-radius: 1.5rem;
                    & > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        & > .label {
                            font-size: 1.2rem;
                            font-weight: 300;
                            margin: 0 0 1rem;
                        }
                    }
                    .demo {
                        font-size: 2.4rem;
                        font-weight: 600;
                    }
                }
            }
            ul.color-palette {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                position: relative;
                li {
                    position: absolute;
                    width: 100%;
                    display: block;
                    background-color: $text-primary-color;
                    min-height: 8rem;
                    text-align: right;
                    padding: 0.7rem 0.7rem;
                    border-radius: 1.5rem;
                    transition: min-height ease-in-out .2s;
                    &:hover {
                        min-height: 8.3rem;
                    }
                    span {
                        background-color: $text-primary-color;
                        color: $hr-color;
                        border-radius: 1rem;
                        font-size: 0.8rem;
                        padding: 0.3rem 1rem;
                        box-shadow: 0 0 0 1px #e3e3e3;
                    }
                }
            }
        }
        .identity-quote {
            figure {
                img {
                    width: 100%;
                }
            }
        }
    }
}
