@media (max-width: 920px) {
    #resume {
        .details {
            ul.keywords {
                li {
                    strong {
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 858px) {
    #resume {
        .details {
            flex-direction: column;
            & > div:nth-child(1) {
                width: 100%;
            }
            & > div:nth-child(2) {
                width: 70%;
                margin: 4.8rem auto 4.4rem;
            }
        }
    }
}

@media (max-width: 676px) {
    #resume {
        .details {
            & > div:nth-child(2) {
                width: 100%;
            }
        }
    }
}

@media (max-width: 458px) {
    #resume {
        .details {
            & > div:nth-child(2) {
                .visual-identity {
                    flex-direction: column;
                    ul.color-palette {
                        margin: 16.8rem 0 0;
                    }
                }
                .identity-quote {
                    figure {
                        margin: 0;
                    }
                }
            }
        }
    }
}
