@media (max-width: 787px) {
    #resume {
        .text {
            .project-name-no-action {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
        }

    }
}