@import '../../../../Colors.scss';

#header-work-detail {
    align-items: center;
    overflow: hidden;
    .text-header {
        margin: 3rem 0 0;
        width: 60%;
        h1 {
            letter-spacing: -1.4px;
            font-weight: 800;
            color: $text-primary-color;
            z-index: 1;
            position: relative;
            font-size: 7.5rem;
            margin: 0;
            line-height: 1;
        }
        p.subtitle {
            margin: 2.25rem 0 0;
            color: $text-secondary-color;
            line-height: 1.2;
            font-size: 2rem;
            letter-spacing: -1px;
            font-weight: 600;
        }
        ul.header-links {
            list-style: none;
            margin: 1.4rem 0 0;
            padding: 0;
            display: flex;
            li {
                margin-right: 1rem;
                a {
                    background-color: rgba(255, 255, 255, 0.08);
                    text-decoration: none;
                    font-weight: 600;
                    line-height: 1.2;
                    display: inline-flex;
                    align-items: center;
                    border-radius: .375rem;
                    font-size: 1rem;
                    padding: 0.5rem 1rem;
                    transition: 250ms;
                    svg {
                        margin-right: .5rem;
                        color: $highlight-color;
                    }
                    span {
                        color: $text-primary-color;
                    }
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.16);
                    }
                }
            }
        }
    }
    .video-header {
        width: 40%;
        video {
            width: 100%;
            border-radius: 1rem;
        }
    }
}