@import "../../../../Colors.scss";

#project-header {
    gap: 1.5rem;
    .text-wrapper {
        width: 60%;
        h1 {
            letter-spacing: -1.4px;
            font-weight: 800;
            color: $text-primary-color;
            z-index: 1;
            position: relative;
            font-size: 5.5rem;
            margin: 0;
            line-height: 1;
        }
        h2 {
            margin: 1.25rem 0 0;
            color: $text-secondary-color;
            line-height: 1.2;
            font-size: 2rem;
            letter-spacing: -1px;
            font-weight: 600;
        }
        ul.technologies {
            list-style: none;
            margin: 1rem 0 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            li {
                background-color: $badge-bg-color;
                color: $highlight-color;
                margin-right: 0.5rem;
                padding: 0.45rem 0.75rem;
                font-size: 1rem;
                font-weight: 600;
                border-radius: 0.375rem;
            }
        }
    }
    .media-wrapper {
        width: 40%;
        img, video {
            width: 100%;
            border-radius: 1rem;
        }
    }
}