@import "../../../../Colors.scss";

#research {
    margin: 244px 0 128px;
    h2 {
        color: $text-primary-color;
        font-size: 3.5rem;
        margin: 0 0 1.5rem;
        transform: translateY(8rem);
        opacity: 0;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        &.on-screen {
            transform: translateY(0);
            opacity: 1;
        }
    }
    ul.research-sections-list {
        list-style: none;
        margin: 3.5rem 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        li.research-section {
            display: flex;
            align-items: flex-start;
            gap: 0 1rem;
            border-bottom: solid 1px rgba(53, 53, 53, 0.6);
            padding: 4rem 0;
            transform: translateY(8rem);
            opacity: 0;
            transition: opacity .5s ease-out, transform .5s ease-out;
            &.on-screen {
                transform: translateY(0);
                opacity: 1;
            }
            &:nth-child(1) {
                padding: 0 0 4rem;
            }
            &:nth-last-child(1) {
                border-bottom: 0;
            }
            h3 {
                color: $text-primary-color;
                margin: 0;
                font-size: 1.5rem;
                line-height: 1.2;
                font-weight: 700;
                font-family: Ubuntu, sans-serif;
                width: 20%;
            }
            ul {
                width: 80%;
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                li {
                    strong {
                        color: $text-primary-color;
                        font-size: 1.45rem;
                        font-weight: 600;
                        letter-spacing: -0.07rem;
                    }
                    p {
                        color: $text-secondary-color;
                        font-size: 16px;
                        line-height: 1.5;
                    }
                    figure {
                        margin: 0;
                        padding: 0;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}