@media (max-width: 1024px) {
    #research {
        h2 {
            font-size: 2.4rem;
        }
        ul.research-sections-list {
            li.research-section {
                ul {
                    li {
                        strong {
                            font-size: 1.3rem;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 845px) {
    #research {
        h2 {
            font-size: 2.4rem;
        }
        ul.research-sections-list {
            li.research-section {
                flex-direction: column;
                h3 {
                    margin: 0 0 2rem;
                    width: 100%;
                }
                ul {
                    width: 100%;
                }
            }
        }
    }
}
