@import "../../../../Colors.scss";

#scroll-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 100%;
    transition: 250ms;
    z-index: 1;
    color: $text-primary-color;
    font-size: 1.5rem;
    border: none;
    width: 70px;
    height: 70px;
    cursor: pointer;
}