@import './Colors.scss';

* {
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: $bg-color;
}

.container {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.full-height {
    height: 100vh;
    min-height: 767px;
}

.justify-content-center {
    justify-content: center!important;
}

.highlight-text {
    color: $highlight-color-1;
     animation: highlightColorCycle 14s linear infinite;
}

@keyframes highlightColorCycle {
    0% {
        color: $highlight-color-1;
    }
    14.2857% {
        color: $highlight-color-2;
    }
    28.5714% {
        color: $highlight-color-3;
    }
    42.8571% {
        color: $highlight-color-4;
    }
    57.1429% {
        color: $highlight-color-5;
    }
    71.4286% {
        color: $highlight-color-6;
    }
    85.7143% {
        color: $highlight-color-7;
    }
    100% {
        color: $highlight-color-1;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.capitalize-text {
    text-transform: capitalize;
}
