@media (max-width: 1440px) {
    .container {
        max-width: 80vw;
    }
}

@media (max-width: 787px) {
    .full-height {
        min-height: 620px;
    }
    .close-button {
        width: 50px;
        height: 50px;
        &:before {
            font-size: 3rem;
            top: 22px;
            left: 11px;
        }
    }
}

@media (max-width: 696px) {
    .full-height {
        min-height: 500px;
    }
}

@media (max-width: 528px) {
    .full-height {
        min-height: 440px;
    }
}

@media (max-width: 445px) {
    .full-height {
        min-height: 530px;
    }
}