@import './Colors.scss';

* {
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: $bg-color;
}

.container {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.full-height {
    height: 100vh;
    min-height: 767px;
}

.justify-content-center {
    justify-content: center!important;
}

.highlight-text {
    color: $highlight-color;
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.capitalize-text {
    text-transform: capitalize;
}
