$bg-color: #000;
$highlight-color: #cf3cae;
$text-primary-color: #fff;
$text-secondary-color: #959595;
$badge-bg-color: rgba(255,255,255,0.15);
$hr-color: #353535;
$highlight-color-1: #FEA5FE;
$highlight-color-2: #B8A5FE;
$highlight-color-3: #A5CCFE;
$highlight-color-4: #A5FEC7;
$highlight-color-5: #FEF4A5;
$highlight-color-6: #FECFA5;
$highlight-color-7: #FEA5A5;
