#resolver {
    .go-back {
        position: fixed;
        right: 1rem;
        top: 1rem;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 1.75rem;
        transition: 250ms;
        z-index: 1;
        color: white;
        padding: 1rem;
        font-size: 1rem;
        svg {
            margin-right: .45rem;
            transition: all ease-in-out 0.25s;
        }
        &:hover {
            svg {
                margin-right: .75rem;
            }
        }
    }
}