@import '../../Colors.scss';

section#work {
    margin: 244px 0 48px;
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        gap: 4rem;
        .info {
            transform: translateY(4rem);
            opacity: 0;
            transition: opacity .3s ease-in-out, transform .3s ease-in-out;
            &.on-screen {
                transform: translateY(0);
                opacity: 1;
            }
            h2 {
                font-size: 1.5rem;
                line-height: 1.2;
                font-weight: 700;
                color: $text-primary-color;
                font-family: Ubuntu, sans-serif;
            }
            p {
                margin: 0.25rem 0 0;
                font-size: 1.25rem;
                color: $text-secondary-color;
            }
            a {
                font-size: 1.25rem;
                text-decoration: none;
                cursor: pointer;
                display: inline-block;
                margin-top: 0.5rem;
            }
        }
    }
}