@import '../../Colors.scss';

#work-detail {
    border-radius: 0.375rem;
    transform: translateY(4rem);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    position: relative;
    figure {
        overflow: hidden;
        margin: 2.5rem 0 0;
        padding: 0;
        display: flex;
        img {
            width: 100%;
        }
    }
    .text {
        margin: 0 0 3.5rem;
        .project-name-no-action {
            text-decoration: none;
            color: $text-primary-color;
            font-family: Ubuntu, sans-serif;
            font-size: 3rem;
            line-height: 1.2;
            font-weight: 500;
            margin: 0.5rem 1rem;
            display: block;
            position: relative;
            text-align: center;
        }
        ul.technologies {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            li {
                background-color: $badge-bg-color;
                color: $highlight-color;
                margin-right: 0.5rem;
                padding: 0.2rem 0.5rem;
                font-size: 0.875rem;
                font-weight: 600;
                border-radius: 0.375rem;
            }
        }
        hr {
            margin: 1.5rem 0 0;
            opacity: 0.6;
            width: 100%;
            border-width: 0px 0px 1px;
            border-image: initial;
            border-style: solid;
            border-color: $hr-color;
        }
        p {
            margin-top: 1rem;
            margin-inline: 0px;
            font-size: 1.25rem;
            color: $text-secondary-color;
            line-height: 1.5;
        }
    }
}